testx.py
dir/root/settings.json
dir/__pycache__/
dir/root/__pycache__
dir/root/CalculatorDB.sqlite
Resources/Database/CalculatorDB.sqlite
.vscode/settings.json
Resources/Logs/Calculator.log
Resources/Logs/Opening.log
Resources/Logs/CalculatorLog.log
Resources/Logs/MainLog.log
